/*Copied from the horizontal scroll site*/
/*something's funny with the font size, when I decrease to something more manageable it shrinks the size of everything else on the page vertically. */
body {
    /*height: 1200px;*/
    font-family: 'Space Mono', monospace;
    /*font-size: 300px;*/
    color: #c3b491;
}

.container {
  width: 20000px;
}

header {
  position: fixed;
  top: 0;
  padding: 10px 35px;
  height: 300px;
  width: 200%;
  background: gray;
}

.header {
/*fixed header position will keep it in the same place ALWAYS.*/
/*absolute position will make it disappear when scrolling downward.*/
/*idea: Include some click clock on load in header: "T-Minus 5 / 4 / 3 / 2/ 1 "*/
  position: fixed;
  top: 0;
  padding: 10px 35px;
    /*left: 300px;*/
  height: 70px;
  width: 100vw;
  background: rgba(177, 7, 7, .4);
  font-size: 40px;
}

/*Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune, Pluto*/

/*Position 1 (top right here is the static position)*/
.Rocket_XX {
  background-image: url(../images/Earth.png);
  /*background-size: 400px 800px;*/
  background-repeat: no-repeat;
  position: fixed;
  width: 400px;
  height: 800px;
  left: 100px;
  top: 170px;
  /*z-index: -5;*/
}

.Mercury_01 {
  position: fixed;
  background-image: url(../images/Mercury.png);
  background-repeat: no-repeat;
  top: 135px;
  left: 0;
  height: 400px;
  width: 15000px;
  /*z-index: 1;*/

}

.Venus_02 {
  position: fixed;
  background-image: url(../images/Venus.png);
  background-repeat: no-repeat;
  top: 120px;
  left: 0;
  height: 800px;
  width: 20000px;
  /*z-index: 2;*/
}

.Earth_03 {
  position: fixed;
  background-image: url(../images/Rocket_04.png);
  background-repeat: no-repeat;
  /*display: none;*/
  height: 400px;
  width: 400px;
  left: 0;
  top: 350px;
  /*z-index: 3;*/
}

.Mars_04 {
  position: fixed;
  background-image: url(../images/Mars.png);
  background-repeat: no-repeat;
  top: 180px;
  left: 0;
  height: 800px;
  width: 20000px;
  /*z-index: 4;*/
}

.Asteroid_X {
  position: fixed;
  background-image: url(../images/Asteroid_X.png);
  background-repeat: no-repeat;
  top: 180px;
  left: 0;
  height: 800px;
  width: 15000px;
  /*z-index: 4;*/
}

.Jupiter_05 {
  position: fixed;
  background-image: url(../images/Jupiter.png);
  background-repeat: no-repeat;
  top: 320px;
  left: 0;
  height: 1300px;
  width: 20000px;
  /*z-index: 5;*/
}

.Asteroid_XX {
  position: fixed;
  background-image: url(../images/Asteroid_XX.png);
  background-repeat: no-repeat;
  top: 200px;
  left: 0;
  height: 800px;
  width: 15000px;
  /*z-index: 4;*/
}

.Saturn_06 {
  position: fixed;
  background-image: url(../images/Saturn.png);
  background-repeat: no-repeat;
  top: 20px;
  left: 400px;
  height: 1400px;
  width: 20000px;
  /*z-index: 6;*/
}
.Uranus_07 {
  position: fixed;
  background-image: url(../images/Uranus.png);
  background-repeat: no-repeat;
  top: 100px;
  left: 400px;
  height: 1500px;
  width: 15000px;
  /*z-index: 7;*/
}

/*The distance between*/
.Uranus_A {
  position: fixed;
  background-image: url(../images/Uranus_A.png);
  background-repeat: no-repeat;
  top: 383px;
  left: 400px;
  height: 800px;
  width: 21000px;
  /*z-index: 8;*/
}

/*saturn and*/
.Uranus_B {
  position: fixed;
  background-image: url(../images/Uranus_B.png);
  background-repeat: no-repeat;
  top: 383px;
  left: 400px;
  height: 800px;
  width: 21800px;
  /*z-index: 8;*/
}

/*The planet uranus*/
.Uranus_C {
  position: fixed;
  background-image: url(../images/Uranus_C.png);
  background-repeat: no-repeat;
  top: 140px;
  left: 400px;
  height: 800px;
  width: 18000px;
  /*z-index: 8;*/
}

/*Is about 2 billion miles*/
.Uranus_D {
  position: fixed;
  background-image: url(../images/Uranus_D.png);
  background-repeat: no-repeat;
  top: 160px;
  left: 400px;
  height: 800px;
  width: 19600px;
  /*z-index: 8;*/
}

.Neptune_08 {
  position: fixed;
  background-image: url(../images/Neptune.png);
  background-repeat: no-repeat;
  top: 100px;
  left: 400px;
  height: 800px;
  width: 20000px;
  /*z-index: 8;*/
}

.Horizon {
    background-image: url(../images/spaceBackground.png);
    background-repeat: repeat-x;
    position: fixed;
    /*top: 60px;*/
    z-index: -2;
    width: 20000px;
    height: 100vh;
}

.Horizon2 {
    background-image: url(../images/spaceBackground_half.png);
    opacity: 0.9;
    background-repeat: repeat-x;
    position: fixed;
    /*top: 60px;*/
    z-index: -1;
    width: 20000px;
    height: 100vh;
}
